.t-main-outlet {
    left: 250px;
    flex: 1;
    right: 0;
    position: absolute;
    overflow-y: auto; 
    padding: 20px;
    transition: left 0.3s ease-in-out;
}

.t-main-outlet-mobile {
    left: 0px;
}

.t-header-container {
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    left: 250px;
    z-index: 1000;
    right: 0;
    height: 55px;
    transition: left 0.3s ease-in-out;
}

.t-nav-main.open {
    left: 0;
}

.header-wid {
    left: 0;
}

.header-main1 {
    display: flex;
}

.teacher-profile {
    padding: 7px 15px 7px 3px;
}

.teacher-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.teacher-profile {
    display: flex;
    justify-content: right;
}

.teacher-profile img{
    width: 40px;
    height: 40px;
}

.t-bell {
    width: 100%;
    display: flex;
    justify-content: right;
    padding-right: 10px;
}

.nav-toggle-btn {
    padding: 10px;
    font-size: 20px;
}

.t-nav-main {
    background: rgb(27, 27, 49);
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; 
    transition: left 0.3s ease-in-out;
    z-index: 999;
    overflow-y: auto;
}

.t-nav-text {
    background: rgb(12, 34, 77);
    color: rgb(214, 211, 206);
    padding: 20px 10px;
    border-radius: 13px;
    margin: 10px;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.t-nav-main1 ul {
    list-style: none;
    padding: 4;
}

.t-nav-main1 li .t-link{
    text-decoration: none;
    color: #D2E0FB;
    padding: 13px 8px;
    border-radius: 7px;
    font-size: 15px;
    display: block;
}

.t-nav-main1 ul{
    padding: 0 20px;
}

.t-nav-icone {
    width: 25px;
    margin-right: 12px;
}

.t-link {
    padding: 0 13px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    transition: all .2s ease;
}

.t-link:hover {
    background: #212d38;
    transform: translateX(10px);
    color: white;
    font-family: 14px;
}

.t-link:focus {
    background: #003391;
}


